form {
    background-color: #272727;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

form, input{
    color: #fff;
}

input {
    background-color: #0f0f11;
    border: none;
    border-radius: 8px;
    padding: 8px;
    outline: none;
    width: 100%;
    margin-top: 4px;
    font-weight: 700;
    cursor: pointer;
}

.input:hover {
    background-color: #ff0000;
}